*.DS_STORE
*.js
!server/index.js
!next.config.js
!postcss.config.js
node_modules/
out/
.env
.idea/
.next/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/build-manifest.json
.next/bundles/pages/_app.js
.next/bundles/pages/_app.js.map
