.enterprise{

  &__intro{
    padding-top: 130px;

    &__text{
      padding-bottom: 190px;
      width: 450px;
      text-align: left;
      margin-left: 80px;
    }

    &__image{
      position: relative;


      img{
        position: absolute;
        
      }

      &--phone{
        top: 60px;
        left: 100px;
        height: 570px;
      }
  
      &--chat{
        top: 120px;
        left: 190px;
        height: 400px!important;
      }
      @media only screen and (max-width: 1366px) {
        &--phone{
          left: -50px;
        }
        &--chat{
          left: 60px;
        }
      }
      @media only screen and (max-width: 1024px) {
        &--phone{
          left: -100px;
    max-height: 440px;
    top: 110px;
        }
        &--chat{
          left: 0px;
    top: 150px;
    max-height: 320px;
        }
      }
      @media only screen and (max-width: 768px) {
      }
      @media only screen and (max-width: 425px) {
      }
      @media only screen and (max-width: 375px) {
      }
      @media only screen and (max-width: 325px) {
      }
    }
  }

  &__success-story{
    &__item{
      display: inline-block;
      &__img{
        
      }

      &__icon{
        position: relative;
        left:-130px
      }
    }
  }

  &__tab{
    h5{
      padding-top: 50px;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 20px;
    }
    img{
      width: 70%;
    }
    max-width: 950px;
    margin: auto;


    &__button{
      margin-top:200px;
      &--large{
        width: 310px;
        padding-bottom: 20px;

      }
      ul{
        text-align: left;
        margin: 30px 0;
        li{
          list-style: bullets;
          margin: 5px 5px;
          font-size: 16px;
          font-weight: 300px;
        }
      }
      
    }
  }

  &__how-to{
    ul{
      display: flex;
      flex-direction: row;
      list-style: none;
      overflow-x: scroll;
      li{
        will-change: transform, animation, opacity;
        text-align: center;
        cursor: pointer;
        flex: 1 1 0%;
        padding: 0px 20px;
        
        }
        
        &:last-child {
          &:after{
            display: none;
          }
        }
      }
      &__list-selected{

          &:after{
            content: '';
            width: 0; 
            height: 0; 
            position: absolute;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            top: 40%;
            right: 5%;
            border-left: 10px solid white;
  

      }
      &:last-child {
        &:after{
          display: none;
        }
      }
    }

    &__content{
      padding-top: 20px;
      margin: auto;
      max-width: 811px;
      h6{
        color: white!important;
        font-size: 22px;
      }
    }
  }
  &__platform{
    h6{
      font-size: 22px !important;
      margin: 20px 100px;
    }
  }
  &__get-in-touch{

    background-image: url('/static/png/company/dot.png');
    align-items: center;
    text-align: center;
    &__col{
      padding: 70px;
    }
    h5{
      color: white;
      padding: 20px 30px;
    }
    img{
      max-width: 100px;
    }
    &__background-blue{
      background-color: #006EE5;
      a{
        color: #006EE5 !important;
      }
    }
    &__background-dark-blue{
      background-color: #0044A9;
      a{
        color: #0044A9 !important;
      }
    }
  }
  
  
}