@import './variables';
@import './type';
@import './animation';
@import './form';
@import './components/buttons/Button';
@import './components/layout/Container';
@import './components/layout/NavigationBar';
@import './components/layout/TextImageCard';
@import './components/layout/ImageCaption';
@import './components/layout/Business';
@import './components/layout/Platform';
@import './components/layout/WorkWithUs';
@import './components/layout/Media';
@import './components/layout/CaseStudy';
@import './components/layout/Cover';
@import './components/layout/Career';
@import './components/layout/BuildChatbot';
@import './components/layout/LifeKata';
@import './components/layout/Testimoni';
@import './components/layout/CoverCareer';
@import './components/layout/Benefit';


.divider {
  margin: 0 24px;
  color: #fff;
  &__inherit {
    color: inherit;
  }
  &__small {
    margin: 0 8px;
  }
}

.__body-colored {
  background: #f8fcff;
}

.button,
.button:hover,
.button:active {
  outline: none;
}
