@import './variables';
@import './type';
@import './animation';
@import './form';
@import './components/layout/Container';
@import './components/layout/NavigationBar';
@import './components/layout/TextImageCard';
@import './components/layout/ImageCaption';
@import './components/layout/Business';


.divider {
  margin: 0 24px;
  color: #fff;
  &__inherit {
    color: inherit;
  }
  &__small {
    margin: 0 8px;
  }
}

.__body-colored {
  background: #f8fcff;
}

.button,
.button:hover,
.button:active {
  outline: none;
}
