$sapphire: #2053af;
$clear-blue: #2a90ff;
$sky-blue: #59a9ff;
$really-light-blue: #d4edff;
$light-blue-grey: #d3e3ef;
$ice-blue: #f4faff;
$ice-blue-two: #f8fcff;
$dark-grey: #24282d;
$charcoal-grey: #484c4f;
$cool-grey: #949a9d;
$silver: #e2e6e8;
$pale-grey: #f4f5f6;
$baby-blue: #a6d3ff;
$light-grey-blue: #a2c4dc;
$black: #333333;

$speed: 0.3s;
$delay: 5s;
