.benefit{
  background-color: #006EE5 !important;
  color: white !important;
  h1{
    color: white !important;
  }
  p{
    font-size: 22px;
  }
  &__nav-bar{
    margin: auto;
    width: 930px;
    img{
      width:100px;
    }
    >ul{
      >li{
        a{
          background-color: transparent !important;
        }
        
        a:hover a:focus{
          background-color: transparent;
        }
      }
    }
  }
  &__nav__content{

    &__slider{

    }

    p{
      font-size: 22px;
      max-width: 500px;
      margin:  20px auto;
    }

  }
 
}