.benefit{
  background-color: #006EE5 !important;
  color: white !important;
  h1{
    color: white !important;
  }
  p{
    font-size: 22px;
    @media only screen and (max-width: 768px) {
      font-size: 16px !important;
      max-width: 90%;
      margin: auto;
    }
  }
  &__nav-bar{
    margin: auto;

    &--career{
    width: 930px;
    @media only screen and (max-width: 768px) {
      width: 720px
    }
    @media only screen and (max-width: 425px) {
      width: 300px
    }
  }
    img{
      width:100px;
    }
    >ul{
      display: flex;
      @media only screen and (max-width: 768px) {
        
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
      }
      >li{
        a{
          background-color: transparent !important;
        }
        
        a:hover a:focus{
          background-color: transparent;
        }
      }
    }
  }
  &__nav__content{

    &__slider{
      min-height: 130px;
      margin-bottom: 40px;
      @media only screen and (max-width: 375px) {
        min-height: 170px;
        margin-bottom: 0px;
      }

    }

    p{
      font-size: 22px;
      margin:  20px auto;
      max-width: 85%;
      @media only screen and (max-width: 768px) {
        font-size: 16px !important;
        
      }
    }

  }
 
}