.build-chat-bot{
  background-image: url('/static/jpg/getstarted.jpg');
  height: 476px;
  position: relative;

  h1{
    color: white !important;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 180px;
  }

  a{
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &:hover{
      -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
      
    }
  }
}