.career{
  &__see-jobs{
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
    p{
    font-size: 24px;
    margin: 50px 0;
    }

  }
  background-image: url('/static/jpg/career.jpg');
  height: 870px;
  position: relative;

  h3{
    width:100%;
    color: white !important;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: normal;
    
  }
  h1{
    color: white !important;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 500;
  }

  a{
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &:hover,&:active,&:focus{
      -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }
    @media only screen and (max-width: 425px) {
      font-size: 16px !important;
      min-width: 250px;
    }
  }
}

