.company{
  height: auto;

  &__hero{
    p{
      font-size: 16px !important;
      font-weight: 300;
      margin: 0 70px;
    }
    &__text{
      display: inline-block;
      width: 50%;
      text-align: left !important;
      h1{
        margin: 0px;
      }
      
      vertical-align: middle;
      &__history{
        position: relative;

        height: 647px;
        @media only screen and (max-width: 768px) {
          height:auto;
        }
        &__title{
          position: absolute;
          color: #006ee5;
          z-index: 1000;
          top: 25px;
          left: 85px;
          width: 250px;

          @media only screen and (max-width: 1024px) {
            left: 25px;
          }
          @media only screen and (max-width: 768px) {
            color: white;
            position: relative;
            margin: auto;
            left: 0px;
          }
          @media only screen and (max-width: 425px) {
          }
          @media only screen and (max-width: 375px) {
          }
          @media only screen and (max-width: 320px) {
          }
        }
        &__des{
          position: absolute;
          text-align: left;
          color:white;
          background-color: $main-blue;
          padding-left: 400px;
          padding-top: 120px;
          width: 1190px;
          height: 557px;
          z-index: 1;
          left: 0;
          font-size: 16px !important;

          @media only screen and (max-width: 1024px) {
            left: -60px;
            width: 970px;
          }
          @media only screen and (max-width: 768px) {
            position: relative;
            padding-left: 15px;
          padding-top: 120px;
          padding-right: 15px;
          width: 90%;
          margin: auto !important;
          left: 0px;
          top: -30px;
          height: 610px;
          }
          @media only screen and (max-width: 425px) {
            height: 900px;
          }
          @media only screen and (max-width: 375px) {
          }
          @media only screen and (max-width: 320px) {
          }
        }
        &__dot{
          position: absolute;
          left: -60px;
          top: -25px;

          @media only screen and (max-width: 768px) {
          }
          @media only screen and (max-width: 425px) {
          }
          @media only screen and (max-width: 375px) {
          }
          @media only screen and (max-width: 320px) {
          }
      
        }
        &__cover{
          position: absolute;
          left: 70px;
          top: 0px;
          z-index: 100;

          @media only screen and (max-width: 1024px) {
            left: 10px;
          }
          @media only screen and (max-width: 768px) {
            display: none;
          }
          @media only screen and (max-width: 425px) {
          }
          @media only screen and (max-width: 375px) {
          }
          @media only screen and (max-width: 320px) {
          }
    
        }
      }
    }
    &__image{
      display: inline-block;
      margin-right: -28px;
      width: 50%;
      vertical-align: middle;
      
    }
    &__button{
      margin: auto;
      width: 235px;
      padding-top: 40px;
    }
    >p{
      max-width: 865px;
      margin: auto;
    }
  }
  

  &__intro{
    padding-top: 10px;
    margin: auto;
    &__text{
      color: white !important;
      text-align: center;
      max-width: 600px;
      margin: auto;
    }

    &__image{
      position: relative;
      min-height: 625px;
      padding-top:30px;
      img{
        width: 700px;
        @media only screen and (max-width: 425px) {
          width: 300px;
        }
      }
      @media only screen and (max-width: 425px) {
        min-height: 300px
      }
    }
  }

  &__list-image{
    max-width: 1440px;
    margin-top: 70px;
    

    &__item{
      width: 360px;
      display: inline-block;
      margin: 0 20px;
      vertical-align: top;

      img{
        width: 300px;
        vertical-align: middle; 
      }
      h5{
        padding: 10px;
        min-height: 80px;
        width: 255px;
        margin: auto;      width: 255px;
        margin: auto;
      }
      p{
        padding: 10px;
        font-size:20px;
      }

      &--list-image-only{
        display: inline-block;
        margin: 0 20px;
        img{
        width: 200px;
        }
      }

    }

  }

  &__tabbed{

  }
  &__tab{
    text-align: left;
    display: block;
    @media only screen and (max-width: 768px) {
      display: none;
    }
    
    &__image{
      display: inline-block;
      width: 50%;
      @media only screen and (max-width: 768px) {
        width: 100%;
        img{
          width: 70%;
          margin: 0 120px
        }
       
      }

      @media only screen and (max-width: 425px) {
        width: 100%;
        img{
          width: 70%;
          margin: 0 auto;
        }
       
      }
    }

    &__text{
      h6{
        color: $main-blue !important;
      }
      img{
        width: 20px;
      }
      display: inline-block;
      width: 50%;
      vertical-align: middle;
      @media only screen and (max-width: 768px) {
        width: 100%;
        margin: 30px 0px;
       
      }

      @media only screen and (max-width: 425px) {

        margin: 30px auto;
       max-width: 300px;
      
      }

      @media only screen and (max-width: 375px) {

        margin: 30px 40px;
      }

      @media only screen and (max-width: 320px) {

        margin: 30px 15px;
      }
    }

    
  }

  &__how-to{
    ul{
      display: flex;
      flex-direction: row;
      list-style: none;
      li{
        will-change: transform, animation, opacity;
        text-align: center;
        cursor: pointer;
        flex: 1 1 0%;
        padding: 0px 20px;
      }
    }

    &__content{
      padding-top: 20px;
      margin: auto;
      max-width: 811px;
      h6{
        color: white!important;
      }
    }
  }
  
  
}