.cover{
  
  &__image{
    position: relative;
    min-height: 736px;
    img{
      position: absolute;
      height: 479px;
    }
    &--simpati{
      left:50px
    }

    &--alfa{
      top:425px;
    }

    &--bri{
      top:500px;
      left:250px;
    }
    &--uni{
      top:75px;
      left:300px;
    }


  }
}