.detailstory{
  max-width: 1100px;
  margin: 0 auto;

  &__intro{

    &__text{
      text-align:left;
      position: relative;
      top: -40px;

      @media only screen and (max-width: 425px) {
        margin-left: 15px;
      }
      
      h1{
        font-weight: 500;
        font-size: 48px;
        margin-bottom:30px;
      }

      h2{
        font-size:24px;
      }
    }
    &__content{
      height: auto;

      &__right{
        width:40%;

        img{
          max-width: 60%;
        }
      }

      &__left{
        align-items: center;
      }

      &__image{
        max-width: 100%;
      }
    }
  }
  &__container{
    max-width: 1100px;
    margin: 0 auto;
  }
  &__thestory{
    text-align: center;
    margin-bottom:70px;

    h1{
      font-size:46px;
      font-weight: 500;
      margin-bottom:30px;
    }

    &__text{
      font-size: 16px;
      font-weight: 300;
      @media only screen and (max-width: 1024px) {
        margin: 0 20px;
      }
    }
  }
  &__approach{
    text-align: left;
    margin: 100px auto;
    display: inline-block;
    
    &__content{

      &__left{
        width:55%;
        display: inline-block;
        float:left;
        margin:10px;
        @media only screen and (max-width: 768px) {
          width: 90%;
          float:none;
          text-align: center;
        }
        @media only screen and (max-width: 320px) {
          margin-left: 10px;
        }
      }
      &__right{
        width:40%;
        display: inline-block;
        float:left;
        margin-top:10px;
        margin-left:10px;
        margin-bottom:70px;
        @media only screen and (max-width: 768px) {
          width: 100%;
          display: block;
          float: none;
          margin: 0 auto;
          max-width: 650px;
        }
        @media only screen and (max-width: 320px) {
          margin-left: 10px;
        }
      }
    }

    h1{
      margin-bottom:40px;
      font-size: 32px;
      font-weight: 500;
      @media only screen and (max-width: 768px) {
        text-align: center;

      }
    }
    ul{
      padding-inline-start: 20px;
    }
    li{
      margin-bottom:20px;
      font-size: 16px;
      font-weight: 300;
    }

    img{
      max-width: 60%;
      @media only screen and (max-width: 1024px) {
        max-width: 80%;
      }
      @media only screen and (max-width: 768px) {
        max-width: 50%;
      }

    }


  }

  &__result{
    @media only screen and (max-width: 1024px) {
      margin: 0 20px;
    }

    img{
      max-width: 50%;
    }

    &__image{
      max-width: 100%;
      text-align:center;
      margin-bottom:70px;
    }

    h1{
      text-align: center;
      margin-bottom:40px;
      font-size: 32px;
      font-weight: 500;
    }

    li{
      margin-bottom:20px;
      font-size:16px;
      font-weight: 300;
    }

    &__text{
      max-width:650px;
      margin:0 auto;
    }
  }
}
