.detailstory{
  max-width: 1100px;
  margin: 0 auto;

  &__intro{

    &__text{
      text-align:left;
    }
    &__content{
      height: auto;

      &__right{
        width:50%;

        img{
          max-width: 100%;
        }
      }

      &__left{
        align-items: center;
      }

      &__image{
        max-width: 100%;
      }
    }
  }
  &__container{
    max-width: 1100px;
    margin: 0 auto;
  }
  &__thestory{
    text-align: center;

    &__text{
    }
  }
  &__approach{
    text-align: left;
    margin: 100px auto;
    
    &__content{

      &__left{
        width:55%;
        display: inline-block;
        float:left;
        margin:10px;
      }
      &__right{
        width:40%;
        display: inline-block;
        float:left;
        margin:10px;
      }
    }

    h1{
      margin-bottom:30px;
    }
    ul{
      padding-inline-start: 20px;
    }
    li{
      margin-bottom:20px;
    }

    img{
      max-width: 100%;
    }


  }

  &__result{

    &__image{
      max-width: 100%;
      text-align:center;
    }

    h1{
      text-align: center;
      margin-bottom:20px;
    }

    li{
      margin-bottom:20px;
    }

    &__text{
      max-width:650px;
      margin:0 auto;
    }
  }
}
