.flexbox{
  display: flex;
    width: auto;
    height: auto;
    justify-content: normal;
    align-items: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    order: 0;

    @media only screen and (max-width: 768px) {
      justify-content: center;
    }

    
}

.flex-item{
    
  &__left{
    width: auto;
    height: 760px;
    justify-content: normal;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    order: 0;
    display: flex;
    flex: 1 1 0%;
    z-index: 1000;
    @media only screen and (max-width: 425px) {
      height: 690px;
    }
  }

  &__right{
    width: auto;
    height: auto;
    justify-content: normal;
    align-items: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    order: 0;
    display: block;
    flex: 1.4 1 0%;
  }

}