.hero-card{
  padding: 50px 0px; 
  &__title{
    padding: 10px 0px ;
  }

  &__content{
    margin:auto;
  }

  &--grey{
    background-color: $light-grey !important;
  }
  &--blue{
    background-color: $main-blue !important;
    h1{
      color: white !important;
    }
    
  }
}