.landing{
  height: 865px;
  p{
    font-family: Museo Sans !important;
  }

  &__modal{
    padding-left: 70px !important;
    top:130px;
  }

  &__hero{
    &__text{
      display: inline-block;
      width: 72%;
      text-align: left!important;
      margin-left: -113px;
      vertical-align: middle;
  
      h1{
        margin: 0px;
      }
      vertical-align: middle;
      p{

        max-width: 400px;
        font-size: 22px;
      }
    }
    &__image{
      display: inline-block;
      margin-right: -290px;
      width: 40%;
      vertical-align: middle;
      
    }
    &__button{
      margin: auto;
      width: 235px;
      padding-top: 40px;
    }

    &--full-width{
      width: 970px!important
    }
  }
  

  &__intro{
    padding-top: 130px;

    &__text{
      color: #fff!important;
      padding-bottom: 460px;
      width: 590px;
      text-align: left;
      margin-left: 50px;
      margin-top: 100px;
      h1{
        font-family: Museo Sans !important;
        color: white !important;
       
      }
      p{
        font-family: Museo Sans !important;
        font-size: 22px;
      }
    }

    &__image{
      position: relative;
      min-height: 625px;

      img{
        position: absolute;
        height: 500px;
      }
      &--simpati{
        right:230px;
      }
  
      &--alfa{
        top: 350px;
        right: 490px;
      }
  
      &--bri{
        top: 440px;
      right: 230px;
      }
      &--uni{
        top: 80px;
        right: -20px;
      }
      &--white{
        width: 1440px;
        height: 1630px!important;
        right: -103px;
        top: -245px;
      }

      
    }
  }

  &__list-image{
    max-width: 1440px;
    margin-top: 50px;
    

    &__item{
      width: 300px;
      display: inline-block;
      margin: 0 20px;
      vertical-align: top;

      img{
        width: 120px;
        vertical-align: middle; 
      }
      h5{
        padding: 10px;
        min-height: 80px;
        width: 255px;
        margin: auto;      
        width: 255px;
        margin: auto;
      }
      p{
        font-family: Museo Sans !important;
        font-size: 16px;
        padding: 10px;
      }

      &--list-image-only{
        display: inline-block;
        margin: 0 20px;
        img{
        width: 200px;
        
        }
        p{
          font-size: 22px;
        }
      }
      &__line{
        img{
          z-index: -8;
          position: absolute;
          top: 260px;
          width: 65%;
          right: 220px;
        }
      }

    }

  }

  &__tab{
    text-align: left;
    max-width: 1234px;
    margin: auto;
    &__chatbot{
      margin-left: 20px
    }
    &__logo{
      width: 150px;
      &--square{
        width: 67px;
      }
    }
    h1{
      font-size: 48px;
    }
    p{
      font-size: 22px;
      max-width: 300px;
    }
    

    &__button-large{
      width: 360px;
      padding-bottom: 20px;
    }

    &__image{
      position: relative;
      img{
        position: absolute;
      }
      &--veronika{
        &--phone{
          top: 30px;
          left: 90px;
        }
        &--avatar{
          top: 150px;
          left: 80px;
          z-index: 10;
        }
        &--chat{
          left: 410px;
          top: 190px;
        }
        &--menu{
          left: 500px;
          top: 260px;
        }
      }
      &--shalma{
        &--phone{
          top: 30px;
          left: 90px;
        }
        &--avatar{
          top: 150px;
          left: 0px;
          z-index: 10;
        }
        &--chat{
          left: 480px;
          top: 150px;
        }
        &--menu{
          left: 480px;
          top: 380px;
        }
      }
      &--jemma{
        &--phone{
          top: 30px;
          left: 90px;
        }
        &--avatar{
          top: 310px;
          left: 0px;
          z-index: 10;
        }
        &--chat{
          left: 410px;
          top: 190px;
        }
        &--menu{
          left: 470px;
          top: 260px;
        }
      }
      
    }

    
  }

  &__how-to{
    ul{
      display: flex;
      flex-direction: row;
      list-style: none;
      li{
        will-change: transform, animation, opacity;
        text-align: center;
        cursor: pointer;
        flex: 1 1 0%;
        padding: 0px 20px;
      }
    }

    &__content{
      padding-top: 20px;
      margin: auto;
      max-width: 811px;
      h6{
        color: white!important;
      }
    }
  }

  &__engineering-blog{
    text-align: center;
    margin-left: 150px;

    &__blog-content{
      background: linear-gradient(180deg,#006ee5 70%,#fff 10%);
      width: 100%;
      margin:50px 0px;
    }

    &__blog-image{
      text-align: left;
      img{
      
      padding: 40px 20px;
      }
    }

    &__list{
      max-width: 1010px;
      margin: 0 auto;
    }

    &__detail{
      text-align: left;
      padding: 130px 10px 20px 10px;
      border-radius: 10px;
      background-color: #F5F5F5;

      div{
        margin-bottom: 10px;
      }
    }

    &__item{
      width:43%;
      padding: 0 25px;
      margin: 0 30px;
      display: inline-block;
    }

    &__image{
      padding: 0 5px;
      position: relative;
      top: 100px;
      
      img{
        max-width: 95%;

        border-radius: 10px;
      }
    }

    &__category{
      color:#006EE5;
      font-size:21px;
    }

    &__title{
      font-weight: 700;
      font-size:24px;
    }

    &__descr{
      font-size:16px;
    }

    &__read-more{
      color:#006EE5;
      font-size:16px;
    }

    &__written-by{
      img{
        background-color:#D1D1D1;
        border-radius: 100%;
        width:50px;
        height:50px;
        font-size:20px;
        margin-right:10px;
      }
      p{
        display: inline-block;
        font-size: 9px;
      }
      
    }

    &__button{
      margin: 80px auto;
      width: 230px;
    }
  }

  &__build-chat-bot{

    &__content{

    }
  }
  

  
  
}