.landing{
  overflow: hidden;
  height: 100%;
  p{
    font-family: Museo Sans !important;
  }

  &__modal{
    padding-left: 70px !important;
    top:130px;
  }

  &__hero{
    &__text{
      display: inline-block;
      width: 72%;
      text-align: left!important;
      margin-left: -113px;
      vertical-align: middle;
      @media only screen and (max-width: 768px) {
        width: 100%;
      text-align: center!important;
      margin-left: 0px;
      }
  
      h1{
        margin: 0px;
      }
      vertical-align: middle;
      p{

        max-width: 400px;
        font-size: 22px;
        @media only screen and (max-width: 768px) {
          max-width: unset;
        }
      }
    }
    &__image{
      display: inline-block;
      margin-right: -290px;
      width: 40%;
      vertical-align: middle;
      @media only screen and (max-width: 768px) {
        width: unset;
        img{
          width: 100%; 
        }
        
        margin-right: unset;

      }
      
    }
    &__button{
      margin: auto;
      width: 235px;
      padding-top: 40px;
    }

    &--full-width{
      width: 970px!important;
      @media only screen and (max-width: 1366px) {
        width: 910px!important;
      }
      @media only screen and (max-width: 1024px) {
        width: 460px!important;
      }

      @media only screen and (max-width: 768px) {
        width: 100% !important;
      }
      
    }
      
  }
  

  &__intro{
    padding-top: 130px;

    &__button{
      @media only screen and (max-width: 425px) {
        font-size: 16px !important;

      }
    }

    &__text{
      color: #fff!important;
      padding-bottom: 460px;
      width: 590px;
      text-align: left;
      margin-left: 50px;
      margin-top: 100px;
      @media only screen and (max-width: 768px) {
        text-align: center;
        margin-left: 80px;
      }
      @media only screen and (max-width: 425px) {
        margin-left: 0px;

      }
      
      h1{
        font-family: Museo Sans !important;
        color: white !important;
        @media only screen and (max-width: 425px) {
          font-size: 32px;
    max-width: 400px;
    margin: auto;
        }

        @media only screen and (max-width: 320px) {

          max-width: 300px;

        }
       
      }
      p{
        font-family: Museo Sans !important;
        font-size: 22px;
        @media only screen and (min-width: 1025px) {
          min-width: 600px !important;
        }
        @media only screen and (max-width: 1024px) {
          max-width: 400px !important;
        }
        @media only screen and (max-width: 768px) {
          margin: 30px auto;
        }
        @media only screen and (max-width: 425px) {
          font-size: 16px
        }
        @media only screen and (max-width: 320px) {
          max-width: 300px !important;
        }

        

      }
    }

    &__image{
      position: relative;
      min-height: 625px;
      @media only screen and (max-width: 2560px) {
        img{
          position: absolute;
          height: 500px;
        }
        &--simpati{
          right:230px;
        }
    
        &--alfa{
          top: 350px;
          right: 490px;
        }
    
        &--bri{
          top: 440px;
        right: 230px;
        }
        &--uni{
          top: 80px;
          right: -20px;
        }
        &--white{
          width: 100%;
          top: -120px;
          position: absolute;
          z-index: 20;
        }
      }
      @media only screen and (max-width: 1024px) {
        &--simpati{
          right:180px;
        }
    
        &--alfa{

          right: 420px;
        }
    
        &--bri{

        right: 180px;
        }
        &--uni{

          right: -70px;
        }
        &--white{
          top: 180px;
        }
      }
      @media only screen and (max-width: 768px) {
        img{
          height: 350px;
        }
        &--simpati{
          right: 170px;
          top: 380px;
        }
    
        &--alfa{
          right: 340px;
          top: 380px;
        }
    
        &--bri{
          right: 520px;
          top: 350px;
        }
        &--uni{

          right: 0px;
          top:350px
        }
        &--white{
          top: 270px;
        }
      }

      @media only screen and (max-width: 425px) {
        img{
          height: 220px;
        }
        &--simpati{
          right: 180px;
          top: 380px;
        }
    
        &--alfa{
          right: 290px;
    top: 380px;
        }
    
        &--bri{
          right: 400px;
          top: 350px;
        }
        &--uni{

          right: 70px;
          top:350px
        }
        &--white{
          top:400px;
        }
      }

      @media only screen and (max-width: 320px) {
        &--white{
          top:480px;
        }
      }
      
      

      
    }
  }

  &__list-image{
    max-width: 1440px;
    margin-top: 50px;

    

    &--no-wrap{
      @media only screen and (max-width: 768px) {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
      }

    }
    

    &__item{
      
      display: inline-block;
      margin: 0 20px;
      vertical-align: top;
      @media only screen and (max-width: 2560px) {
      width: 300px;
      }

      @media only screen and (max-width: 768px) {
        display: block;
      margin: 0 auto;
      width: 100%;
      }

      img{
        width: 120px;
        vertical-align: middle; 
      }
      h5{
        padding: 10px;
        min-height: 80px;
        width: 255px;
        margin: auto;
        @media only screen and (max-width: 768px) {
          width: 100%;
          min-height: 0px;
        }      
      }
      p{
        font-family: Museo Sans !important;
        font-size: 16px;
        padding: 10px;
        @media only screen and (max-width: 768px) {
          padding: 5px;
        } 

        @media only screen and (max-width: 425px) {
          padding: 10px;
        } 
      }

      &--list-image-only{
        display: inline-block;
        margin: 0 20px;
        img{
        width: 200px;
        
        }
        p{
          font-size: 22px;
        }
      }
      &__line{
        img{
          @media only screen and (max-width: 1024px) {
            top: 300px;
            width: 75%;
            right: 150px;
          }
          
          @media only screen and (max-width: 768px) {
            top: 310px;
    width: 80%;
    right: 0;
          }
          @media only screen and (max-width: 425px) {
            top: 350px;
       
          }
          @media only screen and (max-width: 375px) {
            top: 400px;
       
          }
          
          z-index: -8;
          position: absolute;
          top: 260px;
          width: 65%;
          right: 220px;
        }
      }

    }

  }

  &__tab{
    text-align: left;
    max-width: 1234px;
    margin: auto;
    display: block;
    @media only screen and (max-width: 1024px) {
      max-width: 630px;
      margin: 0 !important;
    }
    @media only screen and (max-width: 768px) {
      display: none;
    }
    &__accordion{
      display: none;
      @media only screen and (max-width: 768px) {
        display: block;
      }
      &__panel{
        background-color: #fff;
        border: none;
        padding: 10px 20px !important;
        &__heading{
          background-color: #fff !important;
          border: none !important;
          &__title{
            font-size: 24px;
          }
        }
      }
    }

    &__chatbot{
      margin-left: 20px;
      @media only screen and (max-width: 768px) {
        margin: auto;
      }
    }
    &__logo{
      width: 150px;
      &--square{
        width: 67px;
      }
    }
    h1{
      font-size: 48px;
    }
    p{
      font-size: 22px;
      max-width: 300px;
    }
    

    &__button-large{
      width: 360px;
      padding-bottom: 20px;
    }

    &__image{
      position: relative;
      img{
        position: absolute;
      }
      @media only screen and (max-width: 768px) {
        min-height: 700px;
        &--veronika{
          &--phone{
            left: 50px !important;
          }
          &--avatar{
            left: 20px !important;
          }
          &--chat{
            left: 370px !important;
          }
          &--menu{
            left: 460px !important;
          }
        }
        &--shalma{
          &--phone{
            left: 70px !important;
          }
          &--avatar{
            left: -20px;
          }
          &--chat{
            left: 460px !important;
          }
          &--menu{
            left: 460px !important;
          }
        }
        &--jemma{
          &--phone{
            left: 70px !important;
          }
          &--avatar{
            left: -20px !important;
          }
          &--chat{
            left: 390px !important;
          }
          &--menu{
            left: 450px !important;
          }
        }
      }

      @media only screen and (max-width: 425px) {
        min-height: 400px;
        img{

        }
        &--veronika{
          &--phone{
            top: 15px !important;
            left: 10px !important;
            max-height: 400px !important
          }
          &--avatar{
            top : 80px !important;
            left: 0px !important;
            max-height: 300px !important
          }
          &--chat{
            left: 210px!important;
            max-width: 160px!important;
            top: 110px!important;
          }
          &--menu{
            left: 250px!important;
            max-width: 120px!important;
            top: 160px !important;
          }
        }
        &--shalma{
          &--phone{
            left: 10px !important;
            max-height: 400px !important
          }
          &--avatar{
            left: -40px!important;
            max-height: 300px!important;
            top: 110px !important;
          }
          &--chat{
            left: 250px!important;
            max-width: 120px!important;
            top:250px !important
          }
          &--menu{
            left: 250px!important;
            max-width: 120px!important;
            top:110px !important
          }
        }
        &--jemma{
          &--phone{
            left: 0px !important;
            max-height: 400px !important
          }
          &--avatar{
            top: 200px!important;
            left: -20px!important;
            max-height: 210px!important;
          }
          &--chat{
            left: 200px!important;
            max-width: 160px!important;
            top: 150px !important;
          }
          &--menu{
            left: 240px!important;
            top: 190px!important;
            max-width: 120px!important;

          }
        }
      }

      @media only screen and (max-width: 375px) {
        min-height: 400px;
        img{

        }
        &--veronika{
          &--phone{

            left: -10px !important;

          }
          &--avatar{

            left: -20px !important;

          }
          &--chat{
            left: 180px!important;
          }
          &--menu{
            left: 220px!important;
          }
        }
        &--shalma{
          &--phone{
            left: -10px !important;
          }
          &--avatar{
            left: -60px!important;
          }
          &--chat{
            left: 220px!important;
          }
          &--menu{
            left: 220px!important;
          }
        }
        &--jemma{
          &--phone{
            left: -10px !important;

          }
          &--avatar{
            left: -40px!important;
          }
          &--chat{
            left: 180px!important;
          }
          &--menu{
            left: 220px!important;

          }
        }
      }

      @media only screen and (max-width: 325px) {
        min-height: 300px;
        img{

        }
        &--veronika{
          &--phone{
            top: 15px !important;
            left: 10px !important;
            max-height: 300px !important
          }
          &--avatar{
            top : 80px !important;
            left: 0px !important;
            max-height: 200px !important
          }
          &--chat{
            left: 160px!important;
            max-width: 120px!important;
            top: 100px!important;
          }
          &--menu{
            left: 190px!important;
            max-width: 80px!important;
            top: 130px!important;
          }
        }
        &--shalma{
          &--phone{
            left: 10px !important;
            max-height: 300px !important
          }
          &--avatar{
            left: -20px!important;
            max-height: 200px!important;
            top: 110px !important;
          }
          &--chat{
            left: 190px!important;
            max-width: 80px!important;
            top:220px !important
          }
          &--menu{
            left: 190px!important;
            max-width: 80px!important;
            top: 130px!important;
          }
        }
        &--jemma{
          &--phone{
            left: 0px !important;
            max-height: 300px !important
          }
          &--avatar{
            top: 140px!important;
    left: -30px!important;
    max-height: 180px!important;
          }
          &--chat{
            left: 150px!important;
            max-width: 120px!important;
            top: 120px!important;
          }
          &--menu{
            left: 180px!important;
            max-width: 80px!important;
            top: 150px!important;

          }
        }
      }

      

      
      &--veronika{
        &--phone{
          top: 30px;
          left: 90px;
        }
        &--avatar{
          top: 150px;
          left: 80px;
          z-index: 10;
        }
        &--chat{
          left: 410px;
          top: 190px;
        }
        &--menu{
          left: 500px;
          top: 260px;
        }
      }
      &--shalma{
        &--phone{
          top: 30px;
          left: 90px;
        }
        &--avatar{
          top: 150px;
          left: 0px;
          z-index: 10;
        }
        &--chat{
          left: 480px;
          top: 150px;
        }
        &--menu{
          left: 480px;
          top: 380px;
        }
      }
      &--jemma{
        &--phone{
          top: 30px;
          left: 90px;
        }
        &--avatar{
          top: 310px;
          left: 0px;
          z-index: 10;
        }
        &--chat{
          left: 410px;
          top: 190px;
        }
        &--menu{
          left: 470px;
          top: 260px;
        }
      }
      
    }

    
  }

  &__how-to{
    ul{
      display: flex;
      flex-direction: row;
      list-style: none;
      li{
        will-change: transform, animation, opacity;
        text-align: center;
        cursor: pointer;
        flex: 1 1 0%;
        padding: 0px 20px;
      }
    }

    &__content{
      padding-top: 20px;
      margin: auto;
      max-width: 811px;
      h6{
        color: white!important;
      }
    }
  }

  &__engineering-blog{
    text-align: center;
    margin-left: 150px;
    @media only screen and (max-width: 425px) {
      margin-left: 50px !important;
    }
    @media only screen and (max-width: 375px) {
      margin-left: 20px !important;
    }

    &__blog-content{
      background: linear-gradient(180deg,#006ee5 70%,#fff 10%);
      width: 100%;
      margin:50px 0px;
    }

    &__blog-image{
      text-align: left;
      img{
      
      padding: 40px 20px;
      }
    }

    &__list{
      max-width: 1010px;
      margin: 0 auto;
    }

    &__detail{
      text-align: left;
      padding: 130px 10px 20px 10px;
      border-radius: 10px;
      background-color: #F5F5F5;

      div{
        margin-bottom: 10px;
      }
    }

    &__item{
      width:43%;
      padding: 0 25px;
      margin: 0 30px;
      display: inline-block;
      @media only screen and (max-width: 768px) {
        width: 83%
      }
      @media only screen and (max-width: 425px) {
        padding: 0 15px !important;
      }
      &--hidden{
        @media only screen and (max-width: 768px) {
          display: none;
        }
      }

      
    }

    &__image{
      padding: 0 5px;
      position: relative;
      top: 100px;
      
      img{
        max-width: 95%;

        border-radius: 10px;
      }
    }

    &__category{
      color:#006EE5;
      font-size:21px;
    }

    &__title{
      font-weight: 700;
      font-size:24px;
    }

    &__descr{
      font-size:16px;
    }

    &__read-more{
      color:#006EE5;
      font-size:16px;
    }

    &__written-by{
      img{
        background-color:#D1D1D1;
        border-radius: 100%;
        width:50px;
        height:50px;
        font-size:20px;
        margin-right:10px;
      }
      p{
        display: inline-block;
        font-size: 9px;
      }
      
    }

    &__button{
      margin: 80px auto;
      width: 230px;
    }
  }

  &__build-chat-bot{

    &__content{

    }
  }
  

  
  
}