.lifekata{

  h1{
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }

  h5{
    max-width: 440px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top : 20px;
    font-size: 20px;
    @media only screen and (max-width: 1024px) {
      margin-right: 110px;
    }
    @media only screen and (max-width: 768px) {
      max-width: unset;
      text-align: center;
      margin-right: unset;
      font-size: 16px !important;
    }
    @media only screen and (max-width: 425px) {
    }
    @media only screen and (max-width: 375px) {
    }
    @media only screen and (max-width: 320px) {
    }

  }

  
  &__image{
    position: relative;
    min-height: 736px;
    img{
      position: absolute;
      height: 304px;
    }
    &--right{
      left:280px;
      top: 55px;
    }

    &--left{
      top:125px;
      left: -40px;
    }

    &--bottom{
      top:435px;

      
    }
    @media only screen and (max-width: 1024px) {

      &--right{
        left:190px;
      }
  
      &--left{
        left: -120px;
      }
  
      &--bottom{
        left: -20px;
  
      }
    }
    @media only screen and (max-width: 768px) {

      &--right{
        left:420px;
      }
  
      &--left{
        left: 80px;
      }
  
      &--bottom{
        left: 120px;
  
      }
    }
    @media only screen and (max-width: 425px) {
      min-height: 445px;
      img{
        height: 180px;
      }
      &--right{
        left:220px;
      }
  
      &--left{
        left: 30px;
        top:95px
      }
  
      &--bottom{
        top: 285px;
        left: 60px;
  
      }
    }
    @media only screen and (max-width: 375px) {
      min-height: 445px;
      img{
        height: 170px;
      }
      &--right{
        left:190px;
      }
  
      &--left{
        left: 10px;
      }
  
    }
    @media only screen and (max-width: 320px) {
      img{
        height: 150px;
      }
      &--right{
        left:160px;
      }
  
      &--left{
        left: 10px;
      }
  
      &--bottom{
        top: 255px;
        left: 50px;
  
      }
    }

  }
}