.navigation-bar{
  position: fixed;
  width: 100%;
  background: #006ee5;
  z-index: 100;
  color: #fff;

  &__inner {
    
    margin: 0 150px;
  }

  &__logo {
    margin-top:20px;
    margin-bottom: 20px;
    a {
      text-decoration: none;
    }
    img {
      height: 56px;
    }
  }

  &__menu {
    display:block;
    margin-top: 50px;
    >ul{
      float: left;
      margin: 0;
      padding: 0;
      >li{
        
        position: relative;
        float: left;
        list-style: none;
        
        >a{
          color: #fff !important;
          font-weight: 500;
          padding: 7px 25px 0px 25px;
          font-size: 16px;
          color: $black;
        }
      }
    }

  }


}