.partner{
  height: auto;

  &__hero{
    p{
      width: 100%;
      padding: 0 10px;
      margin: auto;
      font-size: 22px ;
    }
    &__text{
      display: inline-block;
      width: 50%;
      text-align: left !important;
      h1{
        margin: 0px;
      }
      
      vertical-align: middle;
      &__history{
        position: relative;

        height: 647px;
        &__title{
          position: absolute;
          color: #006ee5;
          z-index: 1000;
          width: 210px;
          text-align: left;
          left: 70px;
          top: -80px;

          line-height: 1.55 !important;
          @media only screen and (max-width: 1024px) {
            left: 20px;
          }
          @media only screen and (max-width: 768px) {
            width: 150px;
          }
          @media only screen and (max-width: 425px) {
            width: 200px;
            top:-70px
          }
  
        }
        &__des{
          position: absolute;
          text-align: left;
          color:white;
          background-color: $main-blue;
          padding: 20px 20px 20px 40px !important;
          z-index: 1;
          left: 360px;
          top: -45px;
          width: 720px !important;
          font-size: 24px !important;
          @media only screen and (max-width: 1024px) {
            left: 260px;
          }
          @media only screen and (max-width: 768px) {
            width: 550px !important;
            left: 200px;
          }

          @media only screen and (max-width: 425px) {
            width: 320px!important;
    left: 60px;
    font-size: 16px!important;
    top: 50px;
          }
          
          position: absolute;
        }
        &__dot{
          position: absolute;
          left: 0px;
        }
        &__cover{
          position: absolute;
          right: -320px;
          top: 16px;
          z-index: 100;
        }
      }
    }
    &__image{
      display: inline-block;
      margin-right: -28px;
      width: 50%;
      vertical-align: middle;
      
    }
    &__button{
      margin: auto;
      width: 235px;
      padding-top: 40px;
    }
    >p{
      max-width: 865px;
      margin: auto;
    }

    &__table{

      table {
        border-collapse: collapse;
        width: 80%;
        margin: 50px auto;
        
      }
      
      td, th {
        border: 1px solid #006EE5;
        text-align: center;
        padding: 8px;
        max-width: 100px;
      }

      th{
        background-color: $main-blue;
        color: white;
      }
      
      tr:nth-child(even) {
        background-color: #f5f5f5;
      }
    }
  }
  

  &__intro{
    padding-top: 10px;
    margin: auto;
    &__text{
      text-align: left;
      max-width: 320px;
      margin: auto;
      position: absolute;
      z-index: 1;
      left: 190px;
      top: 60px;
      @media only screen and (max-width: 1024px) {
        left: 80px;
      }
      @media only screen and (max-width: 768px) {
        max-width: 190px;
        top:30px;
        left:60px;
      }
      @media only screen and (max-width: 425px) {
        max-width: 100px;
      top: 30px;
      left: 40px;
       
      }
      @media only screen and (max-width: 425px) {
      left: 45px;
       
      }
       
      h1{
        color: white;
        font-weight: 500;
        @media only screen and (max-width: 425px) {
          font-size: 14px !important;
        }  
        
      }
    }

    &__image{
      position: relative;
      min-height: 625px;
      padding-top:30px;
      img{
        width: 938px;
        @media only screen and (max-width: 768px) {
          width: 660px;
        }
        @media only screen and (max-width: 425px) {
          width: 375px;
          min-height: 245px;
        }
        @media only screen and (max-width: 375px) {
          min-height: 150px;
          width: 300px;
        }
      }
      @media only screen and (max-width: 425px) {
        min-height: 245px;
      }

     
      
    }
  }

  &__list-image{
    max-width: 1440px;
    margin-top: 70px;
    

    &__item{
      width: 360px;
      display: inline-block;
      margin: 0 20px;
      vertical-align: top;

      @media only screen and (max-width: 768px) {
        margin: 0px;
      }


      img{
        width: 160px;
        vertical-align: middle; 
      }
      h5{
        min-height: 80px;
        padding: 0 10px;
        width: 300px;
        margin: auto;
        font-weight: normal;
      }
      p{
        padding: 80px;
      }

      &--list-image-only{
        width: 360px;
        height:120px;
        display: inline-block;
        img{
          max-width: 100%;
          vertical-align: middle; 
          
        }
      }

    }

  }

  &__tabbed{

  }
  &__tab{
    text-align: left;
    display: block;
    
    &__image{
      display: inline-block;
      width: 50%;
    }

    &__text{
      h6{
        color: $main-blue !important;
      }
      display: inline-block;
      width: 50%;
      vertical-align: middle;
    }

    
  }

  &__how-to{
    ul{
      display: flex;
      flex-direction: row;
      list-style: none;
      li{
        will-change: transform, animation, opacity;
        text-align: center;
        cursor: pointer;
        flex: 1 1 0%;
        padding: 0px 20px;
      }
    }

    &__content{
      padding-top: 20px;
      margin: auto;
      max-width: 811px;
      h6{
        color: white!important;
      }
    }
  }
  
  
}