.research{

  &__intro{
    &__img{
      position:relative;

      &__content{
        &--left{
          width:50%;
          display: inline-block;
          position:relative;
          
          img{  
            position:relative;
            top:-40px;
            max-width: 100%;
          }
          
        }

        &--right{
          width:50%;
          display: inline-block;
          position:relative;
          
          img{
            position:relative;
            top:40px;
            max-width: 100%;
          }
          
        }
      }

    }
  }

  &__research-container{
    max-width: 1100px;
    margin: 0 auto;
  }

  &__input-search{
    border: none;
    border-bottom: 1px solid #EBEBEB;
    text-align: center;
    width: 300px;
    height: 40px;
    
    @mixin placeholder {
      &::-webkit-input-placeholder {@content}
      &:-moz-placeholder           {@content}
      &::-moz-placeholder          {@content}
      &:-ms-input-placeholder      {@content}  
    }
    @include placeholder {
    color:#333333;
    }
  }

  &__research-content{
    width: 44%;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin: 80px 30px;

    &__descr{
      padding:10px;
    }
    
    &__image{
      margin-bottom: 40px;
    }
    
    &__title{
      font-size:32px;
      font-weight: 500;
      color:#333333;
    }
    &__research-area{
      font-size:24px;
      margin-bottom:24px; 
      font-weight: 300;
      color:#333333;
    }

    &__read-more{
      text-align: right;
      color:#006EE5;
      font-weight: 500;
      font-size:24px;
    }

    &__writen-by{
      font-size:24px;
      margin-bottom:24px;
      font-weight: 500; 
      color:#333333;
    }
    img{
      max-width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
  

}

