.research{
  font-family: 'Museo Sans' !important;

  &__intro{
    &__img{
      position:relative;

      &__content{
        height: auto;
        &--left{
          width:50%;
          display: inline-block;
          position:relative;
          
          img{  
            position:relative;
            top:10px;
            max-width: 100%;
          }
          
        }

        &--right{
          width:50%;
          display: inline-block;
          position:relative;
          
          img{
            position:relative;
            top:80px;
            max-width: 100%;
          }
          
        }
      }

    }
    &__text{
      text-align:left;
      position: relative;
      top: -40px;

      h1{
        font-weight: 500;
        font-size: 32px;
        margin-bottom:30px;
      }
    }
  }

  &__research-container{
    max-width: 1100px;
    margin: 80px auto;
  }

  &__input-search{
    border: none;
    border-bottom: 1px solid #EBEBEB;
    text-align: center;
    width: 300px;
    height: 40px;
    
    @mixin placeholder {
      &::-webkit-input-placeholder {@content}
      &:-moz-placeholder           {@content}
      &::-moz-placeholder          {@content}
      &:-ms-input-placeholder      {@content}  
    }
    @include placeholder {
    color:#333333;
    }
  }

  &__research-content{
    width: 44%;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: 10px 30px;

    &__descr{
      padding:10px;
    }
    
    &__image{
      margin-bottom: 40px;
    }
    
    &__title{
      h3{
      font-size:24px !important;
      font-weight: 500;
    }
      
      color:#333333;
    }
    &__research-area{
      font-size:24px;
      margin-bottom:24px; 
      font-weight: 300;
      color:#333333;
    }

    &__read-more{
      h5{
        font-size: 16px;
        text-align: right;
      color:#006EE5;
      font-weight: 500;
      }
      
      
      
    }

    &__writen-by{
      h5{
      font-size:16px;
    }
      margin-bottom:24px;
      font-weight: 500; 
      color:#333333;
    }
    img{
      max-width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
  

}

