.researchdetail{
  max-width: 1040px;
  margin: 0 auto;
  font-family: 'Museo Sans' !important;
  padding-top: 150px;

  @media only screen and (max-width: 1024px) {
    margin: 0 30px;
  }
  @media only screen and (max-width: 768px) {
    padding-top: 120px;
    margin: 0 20px;
  }
  
  img{
    max-width: 100%;
  }

  &__header{
    margin-bottom:47px;
  }

  &__title{
    font-size: 32px;
    font-weight: 700;
    max-width: 80%;

    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__descr{
    hr{
      width:10%;
      border-top: 4px solid #00CCE9;
      height:2px;
      float:left;
    }
    p{
      font-size: 18px;
      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  &__abstract{
    text-align: left;
    position: static;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 50px;
    margin-left:-20px !important;
    @media only screen and (max-width: 425px) {

      margin: 0 10px !important;

    }

    &__detail{
      margin-bottom: 50px;
      font-size: 18px;
      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

  }

  &__related-content{
    text-align: left;

    h1{
      color:#006EE5;
    }
  }

  &__related-content-list{
    width: 45%;
    display: inline-block;
    border-bottom: 1px solid #E0E0E0;
    padding: 10px;
    margin: 10px;

    &__title{
      font-weight: 500;
      font-size: 32px;
      @media only screen and (max-width: 768px) {
        font-size: 24px;
      }
    }

  }
}