.tab{
  margin-top: 72px;
  @media only screen and (max-width: 768px) {
    visibility: collapse;
    margin-top: 0px;
  }
    ul{
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $light-grey;
      list-style: none;
    }
}
