.testimoni{

  &__prev{
    width: 80px !important;
    height: 80px !important;
    @media only screen and (max-width: 375px) {
      width: 50px !important;
    height: 50px !important;
    }
  }
  &__next{
    width: 80px !important;
    height: 80px !important;
    @media only screen and (max-width: 375px) {
      width: 50px !important;
    height: 50px !important;
    }
  }

  .carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
 }

 .carousel-control.left{
  @media only screen and (min-width: 769px) {
    left:-40px;
  }
   
 }
 .carousel-control.right{
  @media only screen and (min-width: 769px) {
    right:-40px;
  }
}
.carousel-indicators li{
  border: 1px solid #b6b6b6;
}
.carousel-indicators .active{
  width: 10px; 
    height: 10px;
    margin: 1px;
  background-color: #050505 !important;
}

.carousel-indicators {
  @media screen and (min-width: 768px){
  bottom: 10px;
  }
}
 h1{
   margin-top: 30px;
   margin-bottom: 70px;
 }
 &__slider{
   margin-bottom: 20px;
   @media only screen and (max-width: 768px) {
     text-align: center;
  }
   img{
     width: 70%;
     @media only screen and (min-width: 1024px) {
      margin-left: 100px
     }
   }
   p{
     font-size: 16px;
     @media only screen and (min-width: 1024px) {
      margin-right: 100px
     }
   }
 }
}