.testimoni{
  .carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
 }
 h1{
   margin-top: 30px;
   margin-bottom: 70px;
 }
 &__slider{
   margin-bottom: 20px;
   @media only screen and (max-width: 768px) {
     text-align: center;
  }
   img{
     width: 70%;
     @media only screen and (min-width: 1024px) {
      margin-left: 100px
     }
   }
   p{
     font-size: 16px;
     @media only screen and (min-width: 1024px) {
      margin-right: 100px
     }
   }
 }
}